

.open-sans-norm {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.text-primary{
    color:#FD6E0A;
}
.dark-2,button{
    color:#474747;
    text-decoration: none;
     margin-right: 50px;
}
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 50px; */

}
nav ul{
    display: flex;
    list-style: none; 
     color:#474747;
     align-items: center;
     
}
.btn-primary {
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

.text-center {
    text-align: center;
}

.banner,nav{
    display: flex;
    margin:0 38px 0 200px;
}
.na{
    margin-bottom: 50px;
}
        header{
    background-image: url(/developer.png);
    /* background-image: url(/header_bg.png); */
    background-repeat: no-repeat ;
    background-position: left top;
    background-color: #FFF8F3;
}
.header-des{
    width: 46%;
    border: 2px solid  #FD6E0A ;
    text-align: center;
}
.imag{
    height: 670px;
    width: 580px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}

.about-section{
   padding: 80px 130px;
    text-align: center;
    background-color:#FFF8F3;
    margin-top: 80px;
    margin-bottom: 100px;
}
.about-description{
    font-size: 20px;
}
.about-items{
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 18px;
}
.item-des{
    font-weight: 700;
}
.skill-con{
    padding-top: 30px;
    display: flex;
    margin-bottom:80px;
}
.skill-container{
    border:2px  ;
    margin-right: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px #fff8f3;
    background-color: #FFF8F3;
    padding: 20px;
    
}
.resume{
    display:block;
    justify-content: space-around;
    text-align: center;
    margin-right:50px;
}
.edu{
    padding:20px;
    background-color: #FFF8F3;
     text-align: center;
}
.resumi{
    display:flex;
    justify-content: space-between;
    margin-bottom: 30px;

}
.resum{
  margin-bottom: 50px;
}
/*footer style*/

footer{
    display:flex;
    padding: 130px 230px;
    background-color: #FFF8F3;
    gap:100px;
    
}

.footer-column{
   width:50%;
}

 footer input,textarea{
    height: 44px;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    margin:3px;
    border: none;
}
